<?xml version='1.0' encoding='windows-1252' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<?include lb450config.wxi ?>
	
	<Product Name='Liberty BASIC v4.5.0 Test' Manufacturer='Shoptalk Systems'
		Id='$(var.ProductCode)'
		UpgradeCode='$(var.ProductUpgradeCode)'
		Language='1033' Codepage='1252' Version='4.5.0'>

		<Package Id='*' Keywords='Installer' Description='Liberty BASIC v4.5.0 Installer'
			Manufacturer='Shoptalk Systems'
			InstallerVersion='450' Languages='1033' Compressed='yes' SummaryCodepage='1252'  
			InstallPrivileges="elevated" InstallScope="perMachine"
			/>

		<Media Id='1' Cabinet='lb450setup.cab' EmbedCab='yes' />

		<Directory Id='TARGETDIR' Name='SourceDir'>	  
			<Directory Id="ProgramFilesFolder">
				<Directory Id='LBPROGFILES' Name="Liberty BASIC v4.5.0 Test">
					<Component Id='Launcher' Guid='$(var.LauncherComponentGUID)'>
						<File Id='launcher.exe' KeyPath='yes' Source='Launcher\launcher.exe'>
							<Shortcut Id='startmenuFoobar10' Directory='ProgramMenuDir' Name='Liberty BASIC v4.5.0 Test'
								Icon='liberty.exe' IconIndex='0' Advertise='yes' 
								/>

							<Shortcut Id='desktopFoobar10' Directory='DesktopFolder' Name='Liberty BASIC v4.5.0 Test'
								Icon='liberty.exe' IconIndex='0' Advertise='yes'
								/>                
						</File>
					
						<File Id='launcher.tkn' KeyPath='no' Source='Launcher\launcher.tkn' />
					</Component>    
				</Directory>
			</Directory>
			
			<Directory Id="CommonAppDataFolder">
				<Directory Id="LBExampleFiles" Name="Liberty BASIC v4.5.0 Test" />
			</Directory>

			<Directory Id='ProgramMenuFolder' Name='Programs'>
				<Directory Id='ProgramMenuDir' Name='Liberty BASIC v4.5.0 Test'>
					<Component Id='ProgramMenuComponent' Guid='$(var.ProgramMenuComponentGUID)'>
						<RemoveFolder Id='ProgramMenuDir' On='uninstall'/>
						<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\installed' Type='integer' Value='1' KeyPath='yes' />
					</Component>
				</Directory>
			</Directory>
		  
			<Directory Id='DesktopFolder' Name='Desktop' />
		</Directory>

		<Feature Id='Complete' Level='1' Title="Liberty BASIC v4.5.0" Description="Complete LB v4.5.0 install"
                 ConfigurableDirectory="LBPROGFILES">
			<ComponentGroupRef Id='LBv450ProgFiles' />
			<ComponentRef Id='ProgramMenuComponent' />
			<ComponentGroupRef Id='LBv450ExampleFiles' />
			<ComponentRef Id='Launcher' />
		</Feature>

		<Icon Id='liberty.exe' SourceFile='ProgFiles\liberty.exe' />
		<Property Id="ARPPRODUCTICON" Value="liberty.exe" />
        <Property Id="WIXUI_INSTALLDIR" Value="LBPROGFILES" />
        <WixVariable Id="WixUILicenseRtf" Value="LB-license.rtf" />

        <UIRef Id="WixUI_InstallDir" />
        <UIRef Id="WixUI_ErrorProgressText" />
    
	</Product>
</Wix>